* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* width: 100vw; */
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(purple), to(blue));
    background: -o-linear-gradient(left, purple, blue);
    background: linear-gradient(to right, purple, blue);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 500px;
}
h3{
    color:white;
    font-size: 30px;
}
#random{
    width: 100%;
    padding:20px;
    height:90px;
    outline: none;
    border:none;
    border-radius: 10px;
    margin: 10px 0;
}
#tags{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.tag{
    background-color: rgb(255, 102, 0);
    padding: 10px 20px;
    margin: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.tag.active{
    background-color: #fff;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}