* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(184, 212, 255) 50%, rgb(0, 183, 255) 50%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 70px;
    background-color: #fff;
    width: 80px;
    overflow: hidden;
    padding: 20px;
    transition: width .4s linear;
}

.container.active {
    width: 350px;
}

.container ul {
    display: flex;
    list-style: none;
    width: 0;
    margin: 0;
    padding: 0;
    transition: width .5s linear;
}

.container.active ul {
    width: 100%;
}

.container ul li {
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transform: rotateY(360deg);
    transition: opacity .5s linear, transform .5s linear;
}

.container.active ul li {
    transform: rotateY(0deg);
    opacity: 1;
}

.btn {
    position: relative;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-color: indianred;
    transform-origin: center;
    transition: all .3s linear;
}

.btn::after {
    transform: translate(-50%, -100%);
}

.btn::before {
    transform: translate(-50%, 100%);
}

.container.active .btn::before {
    transform: translate(-50%, -50%) rotate(-315deg);
}

.container.active .btn::after {
    transform: translate(-50%, -50%) rotate(-225deg);
}